body {
    background: tomato;
    text-align: center;
    font-family: helvetica;
}

h2 {
    color: white;
}

#game {
    width: 100%;
    min-height: 222px;
}

.card {
    display: inline-block;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 200px;

    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
    font-family: courier;
    font-size: 80px;
    line-height: 2.3;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 0 4px hsl(0, 0%, 100%);
}
.card:focus {
    border-color: black;
    box-shadow: 0 0 0 4px indigo;
}


#button {
    display: inline-block;
    width: 150px;
}

#button > button {
    color: white;
    border-radius: 5px;
    background: indigo;
    padding: 10px 15px;
    border: none;
}

@keyframes pulse {
    0% {
        color: white;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}

.perfect {
    animation: pulse 4s infinite;
}

#final-score {
    font-size: 100px;
    font-weight: bold;
    color: white;
}